<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <!-- Add your existing head content here -->
</head>

<body>
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <section class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <div class="page-header">
            <div class="page-block">
              <div class="row align-items-center">
                <div class="col-md-12">
                  <div class="page-header-title">
                    <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                  </div>
                  <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                    <li class="breadcrumb-item"><a href="javascript:">Basic Tables</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="main-body">
            <div class="page-wrapper">
              <div class="row">
                <div class="col-xl-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Hover Table</h5>
                      <span class="d-block m-t-5">use class <code>table-hover</code> inside table element</span>
                    </div>
                    <div class="card-block table-border-style">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>ID Bloc</th>
                              <th>Nom Bloc</th>
                              <th>Capacité </th>
                              <th>Chambres</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let bloc of blocs; let i = index">
                              <th scope="row">{{ i + 1 }}</th>
                              <td>{{bloc.idBloc}}</td>
                              <td>{{bloc.nomBloc}}</td>
                              <td>{{bloc.capaciteBloc}}</td>
                              <td>
                                <ul *ngIf="selectedBloc && selectedBloc.idBloc === bloc.idBloc">
                                  <li *ngFor="let chambre of Chambres">
                                    {{ chambre.numeroChambre }}
                                  </li>
                                  <li *ngIf="Chambres.length === 0">
                                    Null.
                                  </li>
                                </ul>
                              </td>
                              <td>
                                <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip"
                                  data-placement="top" title="Edit" [routerLink]="['updateBloc', bloc.idBloc]">
                                  <i class="fa fa-edit"></i> Edit
                                </button>
                                <button class="btn btn-info btn-sm rounded-0" type="button" data-toggle="tooltip"
                                  data-placement="top" title="Show Rooms" (click)="toggleRooms(bloc)">
                                  <i class="fa fa-list"></i> Show Rooms
                                </button>
                                <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip"
                                  data-placement="top" title="Delete" (click)="deleteBloc(bloc.idBloc)">
                                  <i class="bi bi-trash"></i> Delete
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="assets/js/vendor-all.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/pcoded.min.js"></script>
</body>

</html>