
    /* Custom styles for the Edit button */
    .list-inline-item button.btn-success {
        background-color: #007bff; /* Blue color for the button */
        border-color: #007bff; /* Border color */
        color: #fff; /* Text color */
    }

    .list-inline-item button.btn-success:hover {
        background-color: #0056b3; /* Slightly darker blue on hover */
        border-color: #0056b3; /* Border color on hover */
    }

/* Custom styles for the Delete button */
.list-inline-item button.btn-danger {
    background-color: #dc3545; /* Red color for the button */
    border-color: #dc3545; /* Border color */
    color: #fff; /* Text color */
}

.list-inline-item button.btn-danger:hover {
    background-color: #bd2130; /* Slightly darker red on hover */
    border-color: #bd2130; /* Border color on hover */
}
