
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">




                <div class="row">
                    <div class="col-sm-12">
                                <div class="card">
                                                <div class="card-header">
                                                    <h5>Chambre Form</h5>
                                                </div>
                                                <div class="card-body">
                                                
                                                    <hr>
                                                              <div class="row">
                                                                  <div class="col-md-6">
                                                                      
                                                                            <form  [formGroup]="myForm" (ngSubmit)="onSubmit()">
                                                                      <div class="form-group">
                                                                        <label for="numeroChambre">Numero</label>
                                                                        <input type="number" class="form-control" id="numeroChambre" formControlName="numeroChambre"   required >
                                                                    <div *ngIf="myForm.get('numeroChambre')?.invalid && (myForm.get('numeroChambre')?.dirty || myForm.get('numeroChambre')?.touched)">
                                                                      <span class="error-message" style="color:red">Numero Chambre doit etre positif.</span>
                                                                    </div> 
                                                                      </div>
                                                                      <div class="form-group">
                                                                        <label for="typeC">Type chambre</label>
                                                                        <select class="form-control" required formControlName="typeC">
                                                                            <option value="" disabled selected hidden>Choisissez type</option>
                                                                            <option value="SIMPLE">Simple</option>
                                                                            <option value="DOUBLE">Double</option>
                                                                            <option value="TRIPLE">Triple</option>
                                                                        </select>
                                                                        <div *ngIf="myForm.get('typeC')?.invalid && (myForm.get('typeC')?.dirty || myForm.get('typeC')?.touched)">
                                                                            <span class="error-message" style="color:red">Champs obligatoire.</span>
                                                                        </div>
                                                                    </div>
                                                                
                                                                    <div class="form-group">
                                                                        <label for="bloc">Bloc</label>
                                                                        <select class="form-control" required formControlName="bloc">
                                                                            <option value="" disabled selected hidden>Choisissez bloc</option>
                                                                            <option *ngFor="let bloc of listBlocs" [ngValue]="bloc">{{ bloc.nomBloc }}</option>
                                                                        </select>
                                                                        <div *ngIf="myForm.get('bloc')?.invalid && (myForm.get('bloc')?.dirty || myForm.get('bloc')?.touched)">
                                                                            <span class="error-message">Champs obligatoire.</span>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    
                                                                      <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Ajouter</button>
                                                                            </form>
                                                                  </div>
                                                              </div>
                                                </div>
                                </div>
                    </div>
                </div>
               

</div>
</div>
</div>
</div>