<body>
  <div class="pcoded-main-container">
    <div class="pcoded-wrapper">
      <div class="pcoded-content">
        <div class="pcoded-inner-content">
          <div class="main-body">
            <div class="page-wrapper">
              <div class="row">
                <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header">
                      <h5>Basic Componant</h5>
                    </div>
                    <div class="card-body">
                      <h5>Form controls</h5>
                      <hr>
                      <div class="row">
                        <div class="col-md-6">
                          <form [formGroup]="updateForm" *ngIf="updateForm">
                            <div class="form-group">
                              <label for="Foyer">Foyer</label>
                              <select class="form-control" id="Bloc" name="Bloc">
                                <option *ngFor="let bloc of data" [value]="bloc.idBloc">
                                  {{ bloc.nomBloc }}
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Nom Bloc :</label>
                              <input type="text" class="form-control" value="" id="nom" name="nom"
                                formControlName="nomBloc" placeholder="Tapez le nom" autocomplete="off">
                            </div>
                            <div class="form-group">
                              <label for="capacite">Capacité Bloc :</label>
                              <input type="number" class="form-control" id="capacite" name="capacite"
                                formControlName="capaciteBloc" placeholder="Capacité">
                            </div>
                            <button type="submit" (click)="updateBloc()" class="btn btn-primary">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="assets/js/vendor-all.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/pcoded.min.js"></script>
</body>